.cell {
    display: inline-block;
    background-color: #e0f4f4;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.cell div {
    margin: 2px;
}

.cell .method-div {
    font-weight: bold;
    font-size: 20px;
}

.cell .path-div {
    font-size: 18px;
    margin-bottom: 15px;
}

.cell .time-taken-div .numeric {
    font-size: 20px;
}

.cell .numeric .unit {
    font-size: 12px;
}

.numeric {
    font-weight: normal;
}

.unit {
    font-weight: normal;
}
