body {
    font-family: AvenirNext-Italic, "Helvetica Neue", Arial, sans-serif;
}

#logo {
    width: 90px;
    height: 45px;
}

#header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content {
    width: 960px;
    margin: 0 auto;
}

#data table {
    margin: 0 auto;
}

#table-pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    max-width: 960px;
    table-layout: fixed;
}

th {
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}

td {
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}

pre {
    overflow: hidden;
}

tr:hover td {
    color: #339;
    background: #eff2ff;
}
