dist: xenial
language: python
cache: pip
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9-dev
services:
  - mysql
  - postgresql
install:
  - pip install tox-travis codecov
  - if [[ "$DB" = "mysql" ]]; then mysql -e "create database mysql_db;"; fi
  - if [[ "$DB" = "postgresql" ]]; then psql -c "create database travis_ci_test;" -U postgres; fi
script: tox
after_success: codecov
env:
  - DJANGO=2.2 DATABASE=sqlite3
  - DJANGO=2.2 DATABASE=mysql
  - DJANGO=2.2 DATABASE=postgresql
  - DJANGO=3.0 DATABASE=sqlite3
  - DJANGO=3.0 DATABASE=mysql
  - DJANGO=3.0 DATABASE=postgresql
jobs:
  exclude:
    - python: 3.5
      env: DJANGO=3.0 DATABASE=sqlite3
    - python: 3.5
      env: DJANGO=3.0 DATABASE=mysql
    - python: 3.5
      env: DJANGO=3.0 DATABASE=postgresql
  include:
    - stage: deploy
      env:
      python: 3.6
      script: skip
      deploy:
        provider: pypi
        user: jazzband
        server: https://jazzband.co/projects/django-silk/upload
        distributions: sdist bdist_wheel
        password:
          secure: VqpIq4gsetWZFDG7XV72Tg+7zx0zRLcLXlLKM6XVN5LqARx4MVgNWD/lJvf5EWqvXPqcx6DAQN5c5nd35swWjET2XnAR0HO5Bc8F1U/gaHOlvdZBuOSb0PIzl1uPl4JHtwiRJckZELB/O8M8RgJzulZd+28TL37dsH+0baFZ05c=
        skip_existing: true
        on:
          tags: true
          repo: jazzband/django-silk
