{% extends 'blog/base.html' %}


{% block style %}
    <style>
        table {
            border-spacing: 0;
            max-width: 920px;
            margin: 40px auto auto;

        }

        tr {
            height: 20px;
        }

        tr.data-row:hover {
            background-color: #6ea1a8;
            cursor: pointer;
            color: white;
        }

        td {
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }

        th {
            background-color: #e0f4f4;
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .right-aligned {
            text-align: right;

        }

        .center-aligned {
            text-align: center;

        }

        .left-aligned {
            text-align: left;
        }

        table {
        }

        .error {
            color: red;
            text-align: center;
        }

    </style>
{% endblock %}

{% block header %}
    Blog Admin
{% endblock %}

{% block content %}
    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}
    <form action="." method="post" name="tableform">
        {% csrf_token %}
        <table>
            <tr>
                <th class="left-aligned">id</th>
                <th class="right-aligned">Pub. Revision</th>
                <th class="right-aligned">Revision</th>
                <th class="left-aligned">Title</th>
                <th class="left-aligned">Path</th>
                <th class="left-aligned">Status</th>
                <th class="left-aligned">Command</th>
            </tr>
            {% for f in files %}
                <tr>
                    <td class="left-aligned">
                        {{ f.pk }}
                    </td>
                    <td class="right-aligned">
                        {% if f.post.revision %}{{ f.post.revision }}{% endif %}
                    </td>
                    <td class="right-aligned">
                        {{ f.revision }}
                    </td>
                    <td class="left-aligned">
                        {{ f.post.title }}
                    </td>
                    <td class="left-aligned">
                        {{ f.path }}
                    </td>
                    <td class="left-aligned">
                        {{ f.status }}
                    </td>
                    <td>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <select name="cmd-{% if f.pk %}{{ f.pk }}{% else %}{{ f.path }}{% endif %}"
                                onchange="tableform.submit()">
                            <option value=""></option>
                            {% if f.status == 'Not Published' %}
                                <option value="publish">Publish</option>
                            {% endif %}
                            {% if f.status == 'Changes' %}
                                <option value="update">Update</option>
                            {% endif %}
                            {% if f.status == 'Unprocessed' %}
                                <option value="process">Process</option>
                            {% endif %}
                            {% if f.status == 'Published' or f.status == 'Changes' %}
                                <option value="unpublish">Unpublish</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}