{% extends 'blog/base.html' %}
{% block style %}
    <style>
        #img-div img {
            width: 65px;
            position: relative;
            right: 3px;
        }

        #img-div {
            width: 60px;
            height: 60px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            display: inline-block;
            overflow: hidden;
        }

        a#home:visited, a#home:hover, a#home {
            color: black;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="/static/blog/lib/highlight/foundation.css">
{% endblock %}
{% block js %}
    <script src="/static/blog/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block header %}
    <a href="{% url 'index' %}" id="home">
        <table>
            <tr>
                <td>
                    <div id="img-div"><img src="/static/blog/images/me.jpg"></div>
                </td>
                <td>
                    Michael Ford
                </td>
            </tr>
        </table>
    </a>
{% endblock %}
{% block subheader %}
    {{ post.published_date | date }}
{% endblock %}
{% block content %}
    {{ post.html|safe }}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mtford-blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}