{% extends "silky/base/base.html" %}
{% load nav %}
{% load inclusion %}



{% block style %}
    <link rel="stylesheet" href="/static/silky/css/cell.css"/>
    <link rel="stylesheet" href="/static/silky/css/numeric.css"/>
    <style>
        .cell:hover {
            background-color: #6ea1a8;
            color: white;
            cursor: pointer;
        }

        .cell {
            text-align: center;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="/static/silky/js/cell.js"></script>
{% endblock %}

