{% load nav %}
<a href="
    {% if silky_request %}
        {% url 'request_profiling' silky_request.id %}
    {% else %}
        {% url 'profiling' %}
    {% endif %}
">
    <div class="menu-item">
        <div class="menu-item-outer">
            <div class="menu-item-inner">&larr;</div>
        </div>
    </div>
</a>
<div class="menu-item">
    <a href="
        {% if silky_request %}
            {% url 'request_profile_detail' silky_request.id profile.id %}
        {% else %}
            {% url 'profile_detail' profile.id %}
        {% endif %}
    ">
        <div class="menu-item-outer selectable-menu-item
            {% if silky_request %}
                {% navactive request 'request_profile_detail' silky_request.id profile.id %}
            {% else %}
                {% navactive request 'profile_detail' profile.id %}
            {% endif %}
        ">
            <div class="menu-item-inner">Detail</div>
        </div>
    </a>
</div>
<div class="menu-item">
    <a href="
        {% if silky_request %}
            {% url 'request_and_profile_sql' silky_request.id profile.id %}
        {% else %}
            {% url 'profile_sql' profile.id %}
        {% endif %}
    ">
        <div class="menu-item-outer selectable-menu-item
            {% if silky_request %}
                 {% navactive request 'request_and_profile_sql' silky_request.id profile.id %}
            {% else %}
                {% navactive request 'profile_sql' profile.id %}
            {% endif %}
        ">
            <div class="menu-item-inner">Queries</div>
        </div>
    </a>
</div>