{% extends "silky/base/base.html" %}
{% load filters %}

{% block style %}
    <style>

    </style>
    <link rel="stylesheet" href="/static/silky/code.css"/>
    <link rel="stylesheet" href="/static/silky/highlight/foundation.css"/>
{% endblock %}

{% block js %}
    <script src="/static/silky/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block onload %}
{% endblock %}

{% block data %}
    <table>
        <colgroup>
            <col style="width:15%">
            <col style="width:85%">
        </colgroup>
        <tr>
            <td>id</td>
            <td>{{ profile.pk }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ profile.name }}</td>
        </tr>
        <tr>
            <td>time</td>
            <td>{{ profile.time_taken }}ms</td>
        </tr>
        {% if rendered_code %}
            <tr>
                <td>path</td>
                <td>{{ profile.file_path }}:{{ profile.line_num }}</td>
            </tr>
        {% endif %}
        {% if profile.func_name %}
            <tr>
                <td>function name</td>
                <td>{{ profile.func_name }}</td>
            </tr>
        {% endif %}
        {% if rendered_code %}
            <tr>
                <td>code</td>
                <td><pre id="traceback"><code>...<br>{% for line in rendered_code.code %}<span class="line" {% if line.strip == rendered_code.actual_line.strip %}id="the-line"{% endif %}>{{ line }}</span><br>{% endfor %}...</code></pre></td>
            </tr>
        {% endif %}
    </table>

    {% if rendered_code %}

    {% endif %}
{% endblock %}