{% extends "silky/base/detail_base.html" %}
{% load filters %}
{% load nav %}
{% load inclusion %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            configureSpanFontColors($('#num-joins-div').find('.numeric'), 3, 5);
            configureSpanFontColors($('#time-taken-div').find('.numeric'), 200, 500);
            configureSpanFontColors($('#num-queries-div').find('.numeric'), 10, 500);
        });
    </script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        #error-div {
            margin: 10px;
        }

        #code {
            text-align: left;
        }

        #query-info-div div {
            margin-bottom: 5px;
        }

        #name-div {
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block menu %}
{% profile_menu request profile silky_request %}
{% endblock %}

{% block data %}
    <div id="query-div">

        <div id="query-info-div">
            <div id="name-div">
                {{ profile.name }}
            </div>
            <div id="time-taken-div">
                <span class="numeric">{{ profile.time_taken }}<span class="unit">ms</span></span>
            </div>
            <div id="num-queries-div">
                <span class="numeric">{{ profile.queries.count }}</span> queries
            </div>
        </div>
        <div class="heading">
            <div class="inner-heading">
                {% if profile.file_path and profile.line_num %}
                    {{ file_path }}:{{ line_num }}
                {% else %}
                    Location
                {% endif %}
            </div>
        </div>
        {% if code %}
            <pre id="code"><code>{% code code actual_line %}</code></pre>
        {% elif code_error %}
            <div id="error-div">
                {{ code_error }}
            </div>
        {% endif %}

    </div>
{% endblock %}
