{% extends "silky/base.html" %}
{% load nav %}

{% load inclusion %}
{% block style %}
    <link rel="stylesheet" href="/static/silky/cell.css"/>
    <style>
        .cell:hover {
            background-color: #eccfcf;
            cursor: pointer;
        }
        .cell {
            text-align: center;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="/static/silky/cell.js"></script>


{% endblock %}

{% block data %}
    <div id="header">
        <div id="menu">
            <div class="menu-item {% navactive request 'requests' %}">
                <div class="menu-item-outer">
                    <div class="menu-item-inner">Requests</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item-outer">
                    <div class="menu-item-inner">Profiling</div>
                </div>
            </div>
        </div>
    </div>
    {% if requests %}
        {% for r in requests %}
            <a href="{% url 'silky.views.request' r.pk %}">
                {% request_summary r %}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
