{% extends "silky/base/base.html" %}
{% load filters %}
{% load inclusion %}
{% block style %}
    <link rel="stylesheet" href="/static/silky/css/cell.css"/>
    <link rel="stylesheet" href="/static/silky/css/numeric.css"/>
    <link rel="stylesheet" href="/static/silky/css/heading.css"/>
    <link rel="stylesheet" href="/static/silky/lib/highlight/foundation.css"/>
    <style>
        #pre-curl {
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            /*noinspection CssInvalidElement*/
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }

        #request-summary-div {
            text-align: center;
            width: 100%;
        }

        pre {
            margin: 0;
        }

        .cell {
            background-color: transparent;
            margin: 0;
        }
    </style>
{% endblock %}
{% block js %}
    <script src="/static/silky/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/silky/js/cell.js"></script>
{% endblock %}
{% block onload %}
{% endblock %}

{% block menu %}
    {% request_menu request silky_request %}
{% endblock %}

{% block data %}
    <div id="request-summary-div">
        {% request_summary silky_request %}
    </div>
    <div id="request-info-div">
        {% if query_params %}
            {% heading 'Query Parameters' %}
            <pre><code>{{ query_params }}</code></pre>
        {% endif %}
        {% if silky_request.content_type %}
            {% heading 'Request Content Type' %}
            <pre>{{ silky_request.content_type }}</pre>
        {% endif %}
        {% if silky_request.body %}
            {% heading 'Request Body' %}
            <pre><code>{{ silky_request.body }}</code></pre>
        {% endif %}
        {% if silky_request.response.content_type %}
            {% heading 'Response Content Type' %}
            <pre>{{ silky_request.response.content_type }}</pre>
        {% endif %}
        {% if silky_request.response.body %}
            {% heading 'Response Body' %}
            <pre><code>{{ silky_request.response.body }}</code></pre>
        {% endif %}
        {% if curl %}
            {% heading 'Curl' %}
            <pre id="pre-curl"><code>{{ curl.strip }}</code></pre>
        {% endif %}

        {% if client %}
            {% heading 'Django Test Client' %}
            <pre id="pre-curl"><code>{{ client.strip }}</code></pre>
        {% endif %}

    </div>
    <table>
        <colgroup>
            <col style="width:17%">
            <col style="width:83%">
        </colgroup>
        {% if client %}

        {% endif %}
    </table>
{% endblock %}