{% extends 'silky/base.html' %}
{% load nav %}

{% block data %}
    <div id="header">
        <div id="menu">
            <div class="menu-item">
                <div class="menu-item-outer" onclick="window.history.back()">
                    <div class="menu-item-inner">&larr;</div>
                </div>
            </div>
            <a href="{% url 'request' r.id %}">
                <div class="menu-item {% navactive request 'request' r.id %}">
                    <div class="menu-item-outer">
                        <div class="menu-item-inner">Request</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'sql' r.id %}">
                <div class="menu-item {% navactive request 'sql' r.id %}">
                    <div class="menu-item-outer">
                        <div class="menu-item-inner">Database</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}