{% extends "silky/base/detail_base.html" %}
{% load filters %}
{% load nav %}
{% load inclusion %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            configureSpanFontColors($('#num-joins-div').find('.numeric'), 3, 5);
            configureSpanFontColors($('#time-taken-div').find('.numeric'), 200, 500);
        });
    </script>
{% endblock %}


{% block menu %}
    <a href="
    {% if silky_request %}
    {% url 'request_sql' silky_request.pk %}
    {% elif profile %}
    {% url 'profile_sql' profile.pk %}
    {% endif %}
    ">
        <div class="menu-item">
            <div class="menu-item-outer">
                <div class="menu-item-inner">&larr;</div>
            </div>
        </div>
    </a>

    <div class="menu-item">
        <div class="menu-item-outer menu-item-selected">
            <div class="menu-item-inner">SQL Query</div>
        </div>
    </div>
{% endblock %}

{% block data %}
    <div id="query-div">
        <pre id="query"><code>{{ sql_query.formatted_query | spacify | linebreaksbr }}</code></pre>
        <div id="query-info-div">
            <div id="time-taken-div">
                <span class="numeric">{{ sql_query.time_taken }}<span class="unit">ms</span></span>
            </div>
            <div id="num-joins-div">
                <span class="numeric">{{ sql_query.num_joins }}</span> joins
            </div>
        </div>

    </div>
    {% for ln in traceback %}
        {% if ln %}
            <div class="heading">
                <div class="inner-heading">
                    {{ ln }}
                </div>
            </div>
            {% if forloop.counter == pos %}
                {% code code actual_line %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
