{% extends 'blog/base.html' %}

{% load blog_filters %}

{% block style %}
    <style>
        #img-div img {
            width: 65px;
            position: relative;
            right: 3px;
        }

        #img-div {
            width: 60px;
            height: 60px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            display: inline-block;
            overflow: hidden;
        }

        .section .section-header .section-more {
            float: right;
            height: 100%;
        }

        .section .section-header .section-more:hover {
            background-color: #fddfdc;
            cursor: pointer;
        }

        img#runkeeper {
            width: 20px;
        }

        img#soundcloud {
            width: 20px;
        }
        img#rss {
            width: 15px;
            position: relative;
            bottom: 0px;
            right: 8px;
        }
    </style>
{% endblock %}

{% block header %}
    <table>
        <tr>
            <td>
                <div id="img-div"><img src="/static/blog/images/me.jpg"></div>
            </td>
            <td>
                Michael Ford
            </td>
        </tr>
    </table>
{% endblock %}

{% block subheader %}
    software developer, united kingdom
{% endblock %}

{% block content %}
    <div class="section">
        <div class="section-header">
            experience
            <div class="section-more">20 &rarr;</div>
        </div>
        <hr>
        <ul>
            <li>
                Django
            </li>
            <li>
                Python
            </li>
            <li>
                Objective-C/iOS
            </li>
        </ul>
    </div>
    <div class="section">
        <div class="section-header">
            projects
        </div>
        <hr>
        <ul>
            <li>
                <a href="{% url 'smooth' %}">Smooth</a>
            </li>
            <li>
                <a href="http://www.mosayc.com">Mosayc</a>
            </li>
        </ul>
    </div>
    <div class="section">
        <div class="section-header">
            blog
            <div class="section-more">{{ num_posts }} &rarr;</div>
            <div class="section-more"><a href="{% url 'rss_feed' %}" title="rss feed"><img id="rss" src="/static/blog/images/rss2.png"/></a></div>
        </div>
        <hr>
        <ul>
            {% for post in posts %}
                <li>{{ post.published_date |short_date }} ago: <a href="{% url 'post' post.pk %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

    </div>
    <div class="section">
        <div class="section-header">
            contact
        </div>
        <hr>
        <ul>
            <li>
                <a href="mailto:mtford@gmail.com">mtford@gmail.com</a>
            </li>
            <li>
                <a href="https://twitter.com/mtford90">@mtford90</a>
            </li>
        </ul>
    </div>
    <div class="section">
        <div class="section-header">

            latest activity
        </div>
        <hr>
        <table>
            {% if latest_runkeeper %}
                <tr>
                    <td>
                        <img id="runkeeper" src="/static/blog/images/runkeeper.png" title="Runkeeper">
                    </td>
                    <td>
                        {{ latest_runkeeper.date }} ago: Ran {{ latest_runkeeper.distance }}km in {{ latest_runkeeper.time }} minutes.
                        {% if runkeeper_total_distance and runkeeper_total_duration %} ({{ runkeeper_total_distance }}km/{{ runkeeper_total_duration }}mins in last month){% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if latest_soundcloud %}
                <tr>
                    <td>
                        <img id="runkeeper" src="/static/blog/images/soundcloud.png" title="Soundcloud">
                    </td>
                    <td>
                        {{ latest_soundcloud.date }} ago: Shared "<a href='{{ latest_soundcloud.url }}'>{{ latest_soundcloud.title }}</a>" by {{ latest_soundcloud.username }}
                    </td>
                </tr>
            {% endif %}
        </table>

    </div>
{% endblock %}