{% extends 'silk/base/root_base.html' %}
{% load inclusion %}

{% block menu %}
    {% if silk_request %}
        {% request_menu request silk_request %}
    {% else %}
        {% root_menu request %}
    {% endif %}
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        .name-div {
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block js %}




    {{ block.super }}
    <script>
        var profileFilters = [];

        function NameFilter(value) {
            Filter.call(this, value, 'Name == ' + value);
            this.name = 'NameFilter';
        }
        NameFilter.prototype = Object.create(Filter.prototype, {});

        function FunctionNameFilter(value) {
            Filter.call(this, value, 'Function Name == ' + value);
            this.name = 'FunctionNameFilter';
        }

        FunctionNameFilter.prototype = Object.create(Filter.prototype, {});

        function deleteFilter(button) {
            _deleteFilter(button, profileFilters);
        }

        function filterExists(filterType) {
            return _filterExists(filterType, profileFilters);
        }

        function configureDisabled() {
            console.log('hi');
            var $functionNameFilter = $('#function-name-filter');
            var $nameFilter = $('#name-filter');
            $('#no-active-filters').css('display', profileFilters.length ? 'none' : 'block');
            console.log($('#no-active-filters').css('display'))
            configureDisabledForNames();
            configureDisabledForDateTime();
        }

        function configureDisabledForNames() {
            var nameFilterExists = filterExists(NameFilter) || filterExists(FunctionNameFilter);
            $('select[name="name"]').attr('disabled', nameFilterExists);
            $('select[name="function-name"]').attr('disabled', nameFilterExists);
            var $addButtons = $('.name-filter .add-button');
            if (nameFilterExists) {
                $addButtons.addClass('disabled');
            }
            else {
                $addButtons.removeClass('disabled');
            }
        }

        function renderFilters() {
            _renderFilters(profileFilters);
            configureDisabled();
        }

        function addSecondsFilter() {
            _addSecondsFilter(profileFilters);
        }


        function addBeforeDateFilter() {
            _addBeforeDataFilter(profileFilters);
        }

        function addAfterDateFilter() {
            _addAfterDateFilter(profileFilters);
        }

        function addNameFilter() {
            var $input = $('select[name="name"]');
            if (!$input.attr('disabled')) {
                profileFilters.push(new NameFilter($input.val()));
                renderFilters();
            }
        }

        function addFunctionNameFilter() {
            var $input = $('select[name="function-name"]');
            if (!$input.attr('disabled')) {
                profileFilters.push(new FunctionNameFilter($input.val()));
                renderFilters();
            }
        }


        $(document).ready(function () {
            _initFilters(profileFilters);
            configureDisabled()
        });
    </script>
{% endblock %}

{% block filter %}
    <form id="filter-form" action="." method="get"></form>

    <div class="menu-item">
        <div class="menu-item-outer">
            <div class="menu-item-inner">
                <label>Show:
                    <select name="show" form="filter-form" onchange="this.form.submit();">
                        {% for option in options_show %}
                            <option value="{{ option }}"
                                    {% if option == show %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-outer">
            <div class="menu-item-inner">
                <label>Order:
                    <select name="order_by" form="filter-form" onchange="this.form.submit();">
                        {% for option in options_order_by %}
                            <option value="{{ option }}"
                                    {% if option == order_by %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block filters %}
    <tr id="seconds-filter" class="date-filter">
        <td>
            <button class="add-button" onclick="addSecondsFilter();">+</button>
        </td>
        <td>
            <input type="number" name="seconds" placeholder="seconds ago">
        </td>
    </tr>
    <tr id="before-date-filter" class="date-filter">
        <td>
            <button class="add-button" onclick="addBeforeDateFilter();">+</button>
        </td>
        <td><input type="text" class="datetimepicker" placeholder="before date" name="before-date"></td>
    </tr>
    <tr id="after-date-filter" class="date-filter">
        <td>
            <button class="add-button" onclick="addAfterDateFilter();">+</button>
        </td>
        <td><input type="text" class="datetimepicker" placeholder="after date" name="after-date"></td>
    </tr>
    <tr id="function-name-filter" class="name-filter">
        <td>
            <button class="add-button" onclick="addFunctionNameFilter();">+</button>
        </td>
        <td>
                <select name="function-name">
                <option value="" disabled selected>function</option>
                    {% for function_name in options_func_names %}
                    <option>{{ function_name }}</option>
                    {% endfor %}
                </select>
        </td>
    </tr>
    <tr id="name-filter" class="name-filter">
        <td>
            <button class="add-button" onclick="addNameFilter();">+</button>
        </td>
        <td>
            <select name="name">
                <option value="" disabled selected>name</option>
                {% for name in options_names %}
                    <option>{{ name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
{% endblock %}

{% block data %}
    {% if results %}
        {% for profile in results %}
            <a href="
            {% if silk_request %}
                {% url "silk:request_profile_detail" request_id=silk_request.pk profile_id=profile.pk %}
            {% else %}
                {% url "silk:profile_detail" profile_id=profile.pk %}
            {% endif %}
            ">
                {% profile_summary profile %}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
