{% extends 'silk/base/root_base.html' %}
{% load inclusion %}
{% load staticfiles %}

{% block menu %}
    {% root_menu request %}
{% endblock %}

{% block style %}
    {{ block.super }}

{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block filter %}
    <form id="filter-form" action="." method="get"></form>
    <div class="menu-item ">
        <div class="menu-item-outer">
            <div class="menu-item-inner">
                <label>Show:
                    <select name="show" form="filter-form" onchange="this.form.submit();">
                        {% for option in options_show %}
                            <option value="{{ option }}"
                                    {% if option == show %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-item-outer">
            <div class="menu-item-inner">
                <label>Order:
                    <select name="order_by" form="filter-form" onchange="this.form.submit();">
                        {% for option in options_order_by %}
                            <option value="{{ option }}"
                                    {% if option == order_by %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block filters %}
    <tr id="seconds-filter" class="date-filter">
        <td>
            <button class="add-button" onclick="addSecondsFilter();">+</button>
        </td>
        <td>
            <input type="number" name="seconds" placeholder="seconds ago">
        </td>
    </tr>
    <tr id="before-date-filter" class="date-filter">
        <td>
            <button class="add-button" onclick="addBeforeDateFilter();">+</button>
        </td>
        <td><input type="text" class="datetimepicker" placeholder="before date" name="before-date"></td>
    </tr>
    <tr id="after-date-filter" class="date-filter">
        <td>
            <button class="add-button" onclick="addAfterDateFilter();">+</button>
        </td>
        <td><input type="text" class="datetimepicker" placeholder="after date" name="after-date"></td>
    </tr>
    <tr id="view-name-filter" class="view-filter">
        <td>
            <button class="add-button" onclick="addViewNameFilter();">+</button>
        </td>
        <td>
            <select name="view-name">
                <option value="" disabled selected>view</option>
                {% for view_name in view_names %}
                    <option>{{ view_name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr id="path-filter" class="view-filter">
        <td>
            <button class="add-button" onclick="addPathFilter();">+</button>
        </td>
        <td>
            <select name="path">
                <option value="" disabled selected>path</option>
                {% for path in options_paths %}
                    <option>{{ path }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
{% endblock %}

{% block data %}
    {% if results %}
        {% for silk_request in results %}
            <a href="{% url "silk:request_detail" request_id=silk_request.pk %}">
                {% request_summary silk_request %}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
