{% extends 'silk/templates/silk/base/root_base.html' %}
{% load inclusion %}

{% block menu %}
    {% root_menu request %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/silk/lib/highlight/foundation.css"/>
    <link rel="stylesheet" href="/static/silk/css/heading.css"/>
    <style>
        div#docs {
            margin: auto;
            width: 960px;
        }
    </style>
{% endblock style %}

{% block js %}
<script src="/static/silk/lib/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block data %}
    <div class="wrapper">
        <div id="docs">
            <div class="heading">
                <div class="inner-heading">
                    Overview
                </div>
            </div>
            <div class="content">
                Some content
            </div>
            <div class="heading">
                <div class="inner-heading">
                    Installation
                </div>
            </div>
            <div class="content">
                Some content
            </div>
            <div class="heading">
                <div class="inner-heading">
                    Profiling
                </div>
            </div>
            <div class="content">
                Some content
            </div>
            <div class="heading">
                <div class="inner-heading">
                    Dynamic Profiling
                </div>
            </div>
            <div class="content">
                <p>Dynamic profiling allows the injection of silk decorators and context managers into
                   functions and methods at runtime. This allows for profiling of dependencies that we may
                   not have write access to.</p>
                <p>Dynamic function decoration:</p>
                 <pre><code>SILKY_DYNAMIC_PROFILING = [{
    'module': 'path.to.module',
    'function': 'foo'
},{
    'module': 'path.to.module',
    'function': 'MyClass.bar'
}]</code></pre><p>Dynamic context manager:</p>
                 <pre><code>SILKY_DYNAMIC_PROFILING = [{
    'module': 'path.to.module',
    'function': 'foo',
    'start_line': 1,
    'end_line': 2,
}]</code></pre>
            </div>
            <div class="heading">
                <div class="inner-heading">
                    Configuration
                </div>
            </div>
            <p>You can configure Silky using your Django settings.py file. The individual items and defaults are described below:</p>
            <div class="content">
                <pre><code># Print SQL queries to stdout as they are executed
# A list of dynamic profiling configurations, described in the 'Dynamic Profiling' section
SILKY_DYNAMIC_PROFILING = []</code></pre>
            </div>
        </div>
    </div>
{% endblock %}
